.form-container {
  max-width: 400px;
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
}

.form-container h1 {
  /* border-radius: 10px; */
  /* background: #272727; */
  padding: 10px 0;
  /* font-size: 140%; */
  /* font-weight: 300; */
  text-align: center;
  color: rgb(22, 22, 22);
  margin: -16px -16px 16px -16px;
}

.form-container input[type="password"],
.form-container input[type="text"],
.form-container textarea {
  -webkit-transition: all 0, 30s ease-in-out;
  transition: all 0, 30s ease-in-out;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: rgb(249, 250, 249);
  margin-bottom: 1%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  /* font: 95% Arial, Helvetica, sans-serif; */
}

.form-container input[type="password"]:focus,
.form-container input[type="text"]:focus,
.form-container textarea:focus {
  -webkit-box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  padding: 3%;
  background-color: #fff;
  border: 3px solid #80bdff;
}

.btn-send {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 10px;
  text-align: center;
}

.container-error-message {
  padding: 0px;
}

.btn-social{
  position: relative;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-color: rgba(0,0,0,0.2);
}

.btn-facebook{
  background: #3b5998;
}
.btn-google{
  background: #dd4b39;
}
