<div class="conatiner">
  <div class="product-img-container">
      <img class="productImg" style="width: 100%; padding: 20px;" src="../assets/empanada.jpg">
  </div>
  <div class="product-description">
      <h2 style="font-weight: 400;"> Hamb. Sumo</h2>
      <div class="rating-container" style="position:relative; margin-top:-10px; margin-bottom: 5px;">
          <app-ratingstars id="ratingStars" style="margin-top: 0px; color:gold;" [rating]="rating" placement="top" ngbTooltip="tooltip (7)"></app-ratingstars>
        <h4 style="display:inline">
          <span class="sold"><pre style="display: inline;">   50</pre> <pre style="display: inline;"> ventas</pre></span>
        </h4>

      </div>
      <h2 style="font-weight: 400;"> 120 | currency </h2>
      <hr>
      <div>
          <h4>Hamb. con queso y mermelada</h4>
          <hr>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui officiis distinctio nemo incidunt dolore delectus officia, expedita aliquid animi nobis vel ratione a, molestiae esse cupiditate rerum quas magnam consectetur.</h5>
      </div>

      <div style="position:relative;">
          <button class="btn btn-secondary" style="position: absolute; margin-top:160px;">pedir ahora
          </button>

          <button class="btn btn-secondary float-right" style="margin-top:160px; margin-right: 50px;">
              ADD TO CART
          </button>
      </div>


  </div>

</div>

