<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="email">Email</label>
    <!-- <input type="email" class="form-control" formControlName="email" (focusout)="emailcheck($event)"> -->
    <input type="text" name="email" class="form-control is-valid" id="validationServer01" formControlName="email" placeholder="email">

    <!-- <input type="email" class="form-control" formControlName="email"> -->

    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors['required']">El email es requerido</div>
      <div *ngIf="email.errors['email']">Debe ser un email válido</div>
      <div *ngIf="email.errors['uniqueEmail']">El email ya existe</div>
      <!-- <p>{{status}}</p> -->


    </div>
  </div>

  <div class="form-group">
    <label for="password">password</label>
    <input type="password" class="form-control" formControlName="password">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        El password es requerido
      </div>
      <div *ngIf="password.errors.minlength">
        La longitud mínima del password es 6 caracteres
      </div>
      <div *ngIf="password.errors.passwordValidation">
        {{password.errors.passwordValidation.message}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmaPassword">Confirma password</label>
    <input type="password" class="form-control" formControlName="confirmaPassword">
    <div *ngIf="confirmaPassword.invalid && (confirmaPassword.dirty || confirmaPassword.touched)" class="alert alert-danger">
      <div *ngIf="confirmaPassword.errors.required">
        La confirmación del password es requerido
      </div>
      <div *ngIf="confirmaPassword.errors['compare']">
        La confirmación del password no es correcta
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Iniciar sesión</button>
</form>
